
body {
    background-color:blueviolet;
}
h1{
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.covid19-estimator{
    margin: auto;
    padding: 5px;
    
    
}
